---
title: "Welcom to LandOnEarth"
preheader: "Welcome to LandOnEarth - Find your perfect Match"
image: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
bodyClass: bg-gray-100
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-gray-100 sm:px-16">
          <table class="w-600 sm:w-full bg-white">
            <tr>
              <td class="pb-24 sm:py-32 sm:px-24 bg-secondary">
                <table class="w-full">
                  <tr>
                    <td class="flex pt-16 pr-16 justify-end">
                      <a href="" class="text-xs no-underline">View in Browser</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center flex flex-col space-y-4">
                      <span class="text-white font-bold text-3xl">Welcome to LandOnEarth</span>
                      <span class="text-white text-lg">Giving your clients instant home match results</span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="text-left">
                <component src="src/components/vmlbg.html" locals='{"width": 600, "height": 400, "src": "https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80"}'>
                  <div class="leading-32 sm:h-16">&zwnj;</div>
                  <table class="w-full">
                    <tr>
                      <td class="w-48 sm:w-16"></td>
                      <td>

                        <div class="leading-full flex flex-col items-center">
                          <h1 class="m-0 mb-16 text-3xl font-semibold sm:leading-40">Hello James,</h1>
                        </div>

                        <div class="leading-32 sm:h-32">&zwnj;</div>
                        
                        <p class="m-0 mb-16 text-lg leading-24">Welcome to LandOnEarth. Let’s get started right away saving you time and energy while providing outstanding service to your clients! LandOnEarth is your secret advantage to close more homes and stand out from the competition.</p>
                        
                        <p class="m-0 mt-16 text-lg leading-24">Now that your subscription is activated, you might be asking, what’s next?</p>

                        <p class="m-0 mt-16 text-lg leading-24">In your account, you have a personalized invite link to give your clients access to LandOnEarth instantly. This link can be sent via email, text, social, or the many ways in which you communicate with your clients.</p>
                        
                        <p class="m-0 mt-16 text-lg leading-24">Step 1: Send your LandOnEarth invite link out to your client base. Give them instant access to start finding property matches today.</p>

                        <p class="m-0 mt-16 text-lg leading-24">Step 2: When your clients activate their LandOnEarth access, they will be sent a Welcome email with steps to get their account set up and how to fill out their matching profile.</p>

                        <p class="m-0 mt-16 text-lg leading-24">Step 3: Once your clients activate their account and start matching, you will be notified and able to see their saved home matches in real-time. See all of your active clients via your dashboard and say hello to the only tool you’ll ever need to help your clients find their perfect home match.</p>
                        
                        <p class="m-0 mt-16 text-lg leading-24">If you have additional questions or need support, our LandOnEarth team is always happy to assist. Email us at <a href="mailto:support@landonearth.com">support@landonearth.com</a> anytime and we’ll be happy to help.</p>

                        <div class="leading-32 sm:h-32">&zwnj;</div>
                        
                        <div class="leading-full flex flex-col items-center">
                          <a
                            href="https://example.com"
                            class="inline-block py-16 px-24 rounded-full text-base font-semibold text-center no-underline text-white bg-secondary hover:bg-indigo-700"
                          >
                            <!--[if mso]><i style="letter-spacing: 24px; mso-font-width: -100%; mso-text-raise:30px;">&#8202;</i><![endif]-->
                            <span style="mso-text-raise: 16px;">Watch Demo Now</span>
                            <!--[if mso]><i style="letter-spacing: 24px; mso-font-width: -100%;">&#8202;</i><![endif]-->
                          </a>
                        </div>
                      </td>
                      <td class="w-48 sm:w-16"></td>
                    </tr>
                  </table>
                </component>
              </td>
            </tr>
            <tr>
              <td class="h-32"></td>
            </tr>
            <tr>
              <td class="w-full h-96 sm:px-0 text-left">
                <img src="https://i.ibb.co/bR9P1P4/6-C3-A6496-A40-D-49-AE-B26-D-CC8-FC4-D74-D28.jpg" alt="">
              </td>
            </tr>
            <tr>
              <td class="h-32"></td>
            </tr>
            <tr>
              <td class="w-full sm:px-0 text-left flex flex-col items-center">
                <span class= text-lg leading-24">Any additional questions?</span>
                <a class="mb-24" href="mailto:support@landonearth.com">support@landonearth.com</a>

                <table class="w-full">
                  <tr>
                    <td class="flex flex-row mb-24 space-x-24 items-center justify-center">
                      <span class="w-24 h-24 bg-secondary"></span>
                      <span class="w-24 h-24 bg-secondary"></span>
                      <span class="w-24 h-24 bg-secondary"></span>
                    </td>
                  </tr>
                  <tr>
                    <td class="flex flex-row mb-24 space-x-24 items-center justify-center">
                      <span>LandOnEarth LOGO</span>
                      <span class="text-xs">Contact</span>
                      <span class="text-xs">FAQs</span>
                      <span class="text-xs">Privacy Policy</span>
                      <span class="text-xs">Terms & Conditions</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="flex flex-row mb-24 space-x-24 items-center justify-center">
                      <span class="text-sm">4040 Broadway St. Suite 103 San Antonio, TX 78209</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="flex flex-row space-x-24 pb-32 items-center justify-center">
                      <span class="text-xs">Too many newsletters? You can <a href="#" class="text-green-500 no-underline">unsuscribe here</a></span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
